

*.class

/cctools/cCtools/build/
/cctools/build/
/cctools/apkbuilder/
/cctools/.gradle/
/cctools/.idea/

/cctools_2/cCtools/build/
/cctools_2/build/
/cctools_2/apkbuilder/
/cctools_2/.gradle/
/cctools_2/.idea/


